#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

ifneq ($(NEW_GDM),y)
    install/uoitsci-network-manager-config::
	dh_install debian/CAMPUS-AIR etc/NetworkManager/system-connections

    binary-fixup/uoitsci-network-manager-config::
	chmod 600 $(DEB_DESTDIR)/etc/NetworkManager/system-connections/CAMPUS-AIR
endif
